@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  --principal-font: 'Kumbh Sans', sans-serif;
  --font-size: 12px;

  --bg-gradient: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  --primary-dark-color: hsl(238, 29%, 16%);
  --primary-soft-color: hsl(14, 88%, 65%);

  --neutral-dark-color: hsl(237, 12%, 33%);
  --neutral-soft-color: hsl(240, 6%, 50%);

}


html {box-sizing: border-box;}
* {box-sizing: inherit;}

.attribution { 
  font-size: 11px; text-align: center; 
  background-color: hsl(240, 5%, 91%);
  padding: .6rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.attribution a { color: hsl(228, 45%, 44%); }

/* global */
/*================================================*/


body {
  margin:0; 
  font-family: var(--principal-font);
  font-size: 12px;
  color: var(--neutral-dark-color);

  background: var(--bg-gradient);
  background-size: cover;
}

.card-wrapper {
  min-height: 100vh;
  padding-bottom: 3rem; /* footer fixed */
  padding-top: 1rem;
}

h2, p {
  margin: 0;
}


/* generics */
/*================================================*/

.content-cc{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FAQ card */
/*================================================*/

.faq-card {

  background-color: #fff;
  border-radius: 20px;

  width: 85%;
  margin-top: 110px;
}

@media only screen and (min-width: 768px) {
  .faq-card {
    display:flex;
    align-items: center;
    margin: 0;
    max-width: 900px;
    min-height: 500px;
    box-shadow: 0px 60px 50px -25px rgba(0, 0, 0, 0.35);
  }
}

/* FAQ card: imagenes */
/*================================================*/

img{
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.faq-ilustrations{
  position: relative;
}

.faq-ilustrations .mobile.ilust{
  position: absolute;
  top:-110px;
  left:-30px;
  right: 0;
}

.desktop{
  display: none;
}

@media only screen and (min-width: 768px) {
  
  .faq-ilustrations{
    min-height: inherit;
    flex-basis: 50%
  }

  .mobile{
    display: none;
  }

  .desktop{
    display: block;
    max-width: unset;
  }

  .img-desk-wrapper {
    min-height: inherit;
    position: relative;
    overflow: hidden;
  }

  
  .faq-ilustrations .ilust,
  .faq-ilustrations .pattern,
  .faq-ilustrations .flotant 
  {
    position: absolute;
  }

  .pattern{
    top: -60%;
    right:60px;
  }
  
  .ilust:not(.flotant) {
    margin: auto;
    top: 0px;
    right: 60px;
    bottom: 0px;
  }

  /* bottom 110, left -125*/
  .flotant {
    bottom: 110px;
    left: -90px;
  }

}

/* FAQ card: main */
/*================================================*/

.faq-content {
  padding: 0 25px 25px;  
}

.faq-content h1 {
  font-size: 32px;
  text-align: center;
  color: var(--primary-dark-color);
}

.faq-accordion {
  padding: 1.2rem;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

@media only screen and (min-width: 768px) {
  .faq-content{
    max-width: 365px;
    padding: 1rem;
  }

  .faq-content h1 {
    text-align: left;
  }
}

/* FAQ card: main title */
/*================================================*/

/* checkbox tgg-title*/
input.tgg-title {
  appearance: unset;
  all:unset;
}

.faq-accordion-title label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-accordion-title h2{
  font-size: 13px /*var(--font-size)*/;
  font-weight: 400;
  margin:;
  color: var(--neutral-dark-color);
}

.faq-accordion-title span{
  margin-left: auto;
  transition: transform .4s ease-in-out;
}

.faq-accordion-title:hover h2{
  color: var(--primary-soft-color)
}

/* onclick "" */
.faq-accordion .tgg-title:checked + div>label>h2 {
  font-weight: 700;
}

.faq-accordion .tgg-title:checked + div>label>span {
  will-change: transform;
  transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {
  .faq-accordion-title h2 {
    font-size: 14px;
  }
}

/* FAQ card: main content */
/*================================================*/

.faq-accordion-content {
  color: var(--neutral-soft-color);
  line-height: 1.5;
  overflow: hidden;
  max-height: 0;
  transition: max-height .4s ease-in-out;
}

.faq-accordion .tgg-title:checked ~ .faq-accordion-content{
  will-change: max-height;
  max-height: 80px;
}