@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  --primary-font: 'Kumbh Sans', sans-serif;
  --primary-font-color: hsl(238, 29%, 16%);
  --second-font-color: hsl(14, 88%, 65%);
}


html {box-sizing: border-box;}
* {box-sizing: inherit;}

/* global */
/*================================================*/


body {
  margin:0; 
  font-family: var(--primary-font);
  font-size: 12px;
  color: var(--primary-font-color);

  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-size: cover;
}

.page-wrapper {
  min-height: 100vh;
  overflow-x: hidden;
}



/* generics */
/*================================================*/

.content-cc{
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  all: unset; /* compatibility */
}



/* FAQ card */
/*================================================*/

.faq-card {

  background-color: #fff;
  border-radius: 20px;

  width: 85%;
  margin-top: 110px;
}


/* FAQ card: imagenes */
/*================================================*/

img{
  margin: 0 auto;
  display: block;
}

.faq-ilustrations{
  position: relative;
}

.faq-ilustrations .ilust{
  position: absolute;
  top:-110px;
  left:-30px;
  right: 0;
}

.desktop{
  display: none;
}

/* FAQ card: main */
/*================================================*/

.faq-content {
  padding: 0 25px;  
}

.faq-content h1 {
  font-size: 32px;
  text-align: center;
}



.faq-accordion:focus-within {
  background-color: red;
}

/* title */

.faq-accordion-title h2{
  font-size: 12px;
  font-weight: 400;
  
}